<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Orders Table</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
   

<div class="container mt-5" >
    <% if(locals.id){ %>
            <h3 style="background-color: rgb(94, 211, 94); color: red;"><%= id %></h3>
         <% } %>
  <a style="text-decoration: none; color: black;" href="/admin_home"><h2 class="mb-4 text-center">SHOES</h2></a>
  <div class="table-responsive" style="width: 808;">
    <table class="table table-striped table-bordered table-hover align-middle text-center">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Shoes Name</th>
          <th>Shoes Color</th>
          <th>Shoes Price</th>
          <th>Shoes Number</th>
          <th>Quantity</th>
          <th>Shoes Image</th>
          <th>Shoes Category</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- Example rows -->
         <% if(locals.shoes) {%>
         <% shoes.forEach(shoe => {%>
            <tr>
                <td> <%= shoe.id %> </td>
                <td><%= shoe.shoes_name %></td>
                <td><%= shoe.shoes_color %></td>
                <td><%= shoe.shoes_price %></td>
                <td><%= shoe.shoes_number %></td>
                <td><%= shoe.shoes_quantity %></td>
                <td><%= shoe.shoes_image %></td>
                <td><%= shoe.shoes_catagory%></td>
                <td>
                    <form action="/delete_shoe" method="post">
                        <input type="hidden" name="item" value="<%= shoe.id %>" required>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
                 <td>
                    <form action="/edit_shoe" method="post">
                        <input type="hidden" name="item" value="<%= shoe.id %>" required>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
                </td>
        </tr>
        <%  }); %>
        <% } %>
        
       
       
      </tbody>
    </table>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
